<%- include('partials/header.ejs') %>
<title>Menu principal</title>
</head>

<body class="row">

    <% if(locals.pseudo){ %>
    <div id="carouselExampleIndicators" class="carousel slide align-self-center container-fluid row"
        data-interval="false" data-ride="carousel">
        <ol class="carousel-indicators ">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" id="profil" class="test" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <h5 class="mx-auto screen-title">A ton tour de mettre des +4 ! #Macron</h5>
                </div>
                <div class=" align-self-center container-fluid row text-center " id="room-cards">
                    <div class="col-sm-2 offset-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">Initié</h5>
                                <img src="img/icons/25.png" class="card-img-top" alt="..."
                                    style="width:25%;height:auto">
                                <center><small class="text-center">Entrée : 25 Tokens</small><br>
                                    <small class="text-center">Gain : 100 Tokens</small></center>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">Initié</h5>
                                <img src="img/icons/25.png" class="card-img-top" alt="..."
                                    style="width:25%;height:auto">
                                <center><small class="text-center">Entrée : 100 Tokens</small><br>
                                    <small class="text-center">Gain : 400 Tokens</small></center>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">Initié</h5>
                                <img src="img/icons/25.png" class="card-img-top" alt="..."
                                    style="width:25%;height:auto">
                                <center><small class="text-center">Entrée : 500 Tokens</small><br>
                                    <small class="text-center">Gain : 2000 Tokens</small></center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4 offset-lg-4 text-center" id="inviteFriend">
                        <button class="btn btn-danger" id="createRoom">Inviter des amis</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4 offset-lg-4 text-center" id="inviteFriend">
                        <p id="currentParty" class="text-white bold"></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <h5 class="mx-auto screen-title">Profil</h5>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-8 offset-lg-2">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 img-text ">
                                <% if(wrate){ %>
                                Taux de victoire : <%=wrate %>%
                                <% } %>
                            </div>
                            <div class="col-sm-4 col-lg-4 text-center"><img src="img/surprised.jpg"
                                    class="rounded-circle" alt="" style="width:50%;height:auto;margin-left:5%">
                            </div>
                            <div class="col-sm-4 col-lg-4 img-text "><% if(locals.gplayed){ %>Parties jouées :
                                <%=gplayed %><% } %></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-8 offset-lg-2">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 img-text"><% if(locals.tokenslost){ %>Tokens perdus :
                                <%=tokenslost %><% } %>
                            </div>
                            <div class="col-sm-4 col-lg-4 img-text">
                                <ul>
                                    <li>
                                        <p class="text-center"> <%=pseudo %> </p>
                                    </li>
                                    <li>
                                        <p class="text-center"><% if(locals.xpAmount){ %>Niveau <%=xpAmount %><% } %>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-lg-4 img-text"><% if(locals.tokenswon){ %>Tokens gagnés :
                                <%=tokenswon %><% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <h5 class="mx-auto screen-title">Leaderboard</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <h5 class="mx-auto screen-title">Boutique</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <script>



        let socket = io('');

        document.getElementById('createRoom').addEventListener('click', () => {
            socket.emit('createGroup', '<%=pseudo%>');
        })

        console.log(window.location.href);

        //create a party for friends
        socket.on('party created', (roomName, party) => {



            let div = document.getElementById('inviteFriend');
            div.innerHTML = `
            <button class="btn btn-primary" id="launchCustom">Lancer une partie privée</button>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="customLink">
                <div class="input-group-append">
                    <button id="customButtonLaunch" title="Copier dans le presse papier" class="btn btn-primary"><i class="far fa-copy"></i></button>
                </div>
            </div>
            `;

            //fire a function to create a custom game
            let customLink = document.getElementById('customLink');
            customLink.dataset.link = window.location.href + '?party=' + roomName;
            customLink.value = "Lien caché";
            customLink.addEventListener('mouseover', () => {
                customLink.value = customLink.dataset.link;
            });
            customLink.addEventListener('mouseout', () => {
                customLink.value = "Lien caché";
            })
            let button = document.getElementById('launchCustom');
            button.addEventListener('click', () => {
                launchCustom();
            });
            document.getElementById('customButtonLaunch').addEventListener('click', () => {
                let str = document.getElementById('customLink').dataset.link;
                const el = document.createElement('textarea');
                el.value = str;
                el.setAttribute('readonly', '');
                el.style.position = 'absolute';
                el.style.left = '-9999px';
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
            });
            document.getElementById('currentParty').textContent = "Joueur(s) dans votre groupe : " + party.join(', ');
        })

        //catch when a friend is looking for join a party
        if (window.location.href.includes('party=')) {
            let div = document.getElementById('inviteFriend');
            div.removeChild(div.lastElementChild);
            socket.emit('looking for party', window.location.href.split('party=')[1], '<%=pseudo%>');
        }

        //when a friend is entering a party
        socket.on('party joined', (party) => {
            console.log('ouai un pote dans la party');
            console.log(party);
            document.getElementById('currentParty').textContent = "Joueur(s) dans votre groupe : " + party.join(', ');
        })




    </script>



    <% } else { %>
    <script>
        if (window.location.href.includes('party=')) window.location.href = window.location.href.split('?')[0];


    </script>
    <div class="modal" tabindex="-1" role="dialog" id="connect" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display:flex;justify-content:space-around">
                    <h5 class="modal-title" id="signinButton">Connexion</h5>
                    <h5 class="modal-title" id="signupButton">Inscription</h5>
                </div>
                <div class="modal-body">
                    <form action="/connect" method="POST">
                        <div class="form-group">
                            <label for="pseudo">Pseudo</label>
                            <input class="form-control" type="text" name="pseudo">
                        </div>
                        <div class="form-group">
                            <label for="pass">Mot de passe</label>
                            <input class="form-control" type="password" name="password">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="register" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display:flex;justify-content:space-around">
                    <h5 class="modal-title" id="signinButton1">Connexion</h5>
                    <h5 class="modal-title" id="signupButton1">Inscription</h5>
                </div>
                <div class="modal-body">
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <label for="pseudo">Pseudo / Username</label>
                            <input class="form-control" type="text" id="pseudo" name="pseudo">
                        </div>
                        <div class="form-group">
                            <label for="pass">Mot de passe / Password</label>
                            <input class="form-control" type="password" id="pass" name="password">
                        </div>
                        <div class="form-group">
                            <label for="pass">Prenom / First Name</label>
                            <input class="form-control" type="text" id="firstName" name="firstName">
                        </div>
                        <div class="form-group">
                            <label for="pass">Nom / Last Name</label>
                            <input class="form-control" type="text" id="lastName" name="lastName">
                        </div>
                        <div class="form-group">
                            <label for="pass">Date de naissance / Birth Date</label>
                            <input class="form-control" type="date" id="birthDate" name="birthDate">
                        </div>
                        <div class="form-group">
                            <label for="pass">Ville / City </label>
                            <input class="form-control" type="text" id="city" name="city">
                        </div>
                        <div class="form-group">
                            <label for="pass">Code postal / Zip</label>
                            <input class="form-control" type="text" id="zip" name="zip">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">S'enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>



        document.getElementById('signupButton').addEventListener('click', () => {
            $('#connect').modal('hide');
            $('#register').modal('show');
        });

        document.getElementById('signinButton1').addEventListener('click', () => {
            $('#register').modal('hide');
            $('#connect').modal('show');
        });

    </script>
    <% } %>
</body>
<%- include('partials/footer.ejs') %>