<%-include('partials/header.ejs')%>
<% if(locals.roomId) { %>
<title>Room <%=roomId%></title>
</head>

<body>
    <div class="row" style="height:20%;align-items:center">
        <div class="text-white col-lg-2 offset-lg-1" id="siege6" data-socket="8"></div>
        <div class="text-white col-lg-2" id="siege7" data-socket="5,7"></div>
        <div class="text-white col-lg-2" id="siege8" data-socket="2,4,6,8"></div>
        <div class="text-white col-lg-2" id="siege9" data-socket="5,7"></div>
        <div class="text-white col-lg-2" id="siege10" data-socket="8"></div>
    </div>
    <div class="row" style="height:20%;align-items:center">
        <div class="text-white col-lg-2 offset-lg-1" id="siege5" data-socket="3,6,7"></div>
        <div class="text-white col-lg-2"></div>
        <div class="text-white col-lg-2"></div>
        <div class="text-white col-lg-2"></div>
        <div class="text-white col-lg-2" id="siege11" data-socket="3,6,7"></div>
    </div> 
    <div class="row" style="height:20%;align-items:center">
        <div class="text-white col-lg-2 offset-lg-1" id="siege4" data-socket="4,8"></div>
        <div class="text-white col-lg-2"></div>
        <div class="text-white col-lg-2" id="discardedCard"></div>
        <div class="text-white col-lg-2"></div>
        <div class="text-white col-lg-2" id="siege12" data-socket="4,8"></div>
    </div>
    <div class="row" style="height:20%;align-items:center">
        <div class="text-white col-lg-2 offset-lg-1" id="siege3" data-socket="5,6,7"></div>
        <div class="text-white col-lg-2"></div>
        <div class="text-white col-lg-2"></div>
        <div class="text-white col-lg-2"></div>
        <div class="text-white col-lg-2" id="siege13" data-socket="5,6,7"></div>
    </div>  
    <div class="row" style="height:20%;align-items:center">
        <div class="text-white col-lg-2 offset-lg-1" id="siege2" data-socket="8"></div>
        <div class="text-white col-lg-2" id="siege1" data-socket=""></div>
        <div class="text-white col-lg-2" id="siege0" data-socket=""></div>
        <div class="text-white col-lg-2" id="siege15" data-socket=""></div>
        <div class="text-white col-lg-2" id="siege14" data-socket="8"></div>
    </div>
</body>
<script>
    let socket = io('90.76.213.45:8080');

    let mypseudo = '<%=pseudo%>';
     
    setTimeout(()=>{
        connect()
    },200);
    function connect(){
        socket.emit('connect me', '<%=roomId%>','<%=pseudo%>');
    }

    socket.on('connect me', (players) => {
        if (players == '<%=number%>') {
            //message starting game 
            //eventt socket pour chercher les id, prendre un hote et start SA game
            socket.emit('start game','<%=price%>');
            console.log('tous les joueurs sont là, début de la partie')
        } else {
            //modifier les alertes custom pour tenir informés les joueurs du "chargement"
            console.log(players + ' joueurs présent sur <%=number%>');
        }
    });


</script>
<% } %>
<%-include('partials/footer.ejs')%>